@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap");

:root {
  --font-family-base: "Outfit", sans-serif;
  --slate-300: #D5E1EF;
  --slate-500: #68778D;
  --slate-900: #1F314F;

  --blue-500: #3685ff;
  --blue-600: #2c7dfa;

  --White: #fff;

  --sm-font-size: 0.9375rem;
  --md-font-size: 1.125rem;
  --lg-font-size: 1.375rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: var(--font-family-base);
  background-color: var(--slate-300);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}