@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap");

@import "./_variables";
@import "./_mixins";
@import "./utils";


:root {
  --font-family-base: "Outfit", sans-serif;
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;

  --blue-500: #3685ff;
  --blue-600: #2c7dfa;

  --White: #fff;

  --xs-font-size: 0.75rem;
  --sm-font-size: 0.9375rem;
  --md-font-size: 1.125rem;
  --lg-font-size: 1.375rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: var(--font-family-base);
  background-color: var(--slate-300);
  color: var(--slate-900);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;

  main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  a {
    color: var(--blue-600);
    text-decoration: none;

    &:hover, &:active {
      color: var(--blue-500);
      text-decoration: underline;
    }
  }
}

